{%extends "layout4.html.twig" %}
{% block style %}
<link rel="stylesheet" href="{{ asset('CSS/ChangePassword.css') }}" />
{% endblock %}
{% block body %}

<section>
    <div class="infos">
      {% if status != null %}
      <p class="status">
        Mot de passe changé !
      </p>
      {% endif %}

      {{ form_start(form1) }}
      {{ form_widget(form1) }}
      {{ form_end(form1) }}<br>


      <a href="{{ path('junior_isep_vitrine_forgotpassword')}}" class="forgot">Mot de passe oublié</a> <br /><br />

    </div>
</section>


{% endblock %}
